<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <a href="/login">Log in?</a>

    <form action="/signup" method="POST">
            <fieldset>
            <label>Username</label>
            <input type="text" name="username">

            <label>Password</label>
            <input type="password" name="password">

            <label>First Name</label>
            <input type="text" name="firstName">

            <label>Last Name</label>
            <input type="text" name="lastName">

            <input type="submit" value="Sign Up">
            </fieldset>
        </form>

</body>
</html>